<!DOCTYPE html>
<html>
<head>
    <link href="/static/tailwind.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="bg-gray-100 min-h-screen flex items-center justify-center">

<div class="text-center">
    <h1 class="text-3xl font-semibold mb-10">IPL Predictor Dashboard</h1>

    <a href="/single"
       class="block bg-blue-600 text-white px-6 py-3 rounded shadow-md mb-4">
       Predict a Single Match
    </a>

    <a href="/tournament"
       class="block bg-green-600 text-white px-6 py-3 rounded shadow-md">
       Run Full Tournament
    </a>
</div>

</body>
</html>
